.boton-clear{
    height: 70px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ff6600;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 45px;
}

.boton-clear:hover{
    background-color: #ff66009a;
}