.App{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato,sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.freecodecamp-logo-contenedor{
  width: 100%;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo{
  height: 40px;
}

.calculadora-contenedor{
  background-color: #080808;
  width: 400px;
  height: 600px;
  padding: 14px;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}